/* Universal styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #001f06, #000000);
  display: flex;
  justify-content: center;
  align-items: top;
  height: auto;
}

.container {
  background: #ffffff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: auto;
  max-width: 600px;
  animation: slideIn 1s ease-out;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*h1 {
width: 200px;
} */

.img
{
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  margin-bottom: 5px;
  font-weight: 600;
  color: #555;
}

input, select {
  margin-bottom: 15px;
  padding: 12px 15px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #ddd;
  transition: all 0.3s;
  outline: none;
}

input:focus, select:focus {
  border-color: #ff6f91;
  box-shadow: 0 0 8px rgba(255, 111, 145, 0.3);
}

button {
  padding: 12px;
  font-size: 18px;
  background-color: #1f2053;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #426fbc;
}

.btn-animated {
  animation: btnPulse 1.5s infinite;
}

@keyframes btnPulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 111, 145, 0.4);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 20px 10px rgba(255, 111, 145, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 111, 145, 0);
  }
}

#expense-summary {
  margin-top: 20px;
}

h2 {
  font-size: 1.8em;
  margin-bottom: 10px;
  color: #000000;
}

#balances-list {
  list-style-type: none;
  font-size: 1.2em;
  color: #333;
  padding: 0;
}

#balances-list li {
  background-color: #f9f9f9;
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s;
}

#balances-list li:hover {
  transform: translateX(10px);
}
.access-button
{
  text-decoration: none;
  color: white;
}